/* .og {
  --redbg:#e35757;
  --redtxt: #882323;
  --greenbg: #4dda7e ;
  --greentxt: #236a3b;

  --mainBG: #37c7c0;
  --mainBorder: 3px solid #2da59f;
  --mainBorderColor: #185e5a;
}
.reds {
  --redbg:#e35757;
  --redtxt: #882323;
  --greenbg: #4dda7e ;
  --greentxt: #236a3b;

  --mainBG: #f5958e;

  --mainBorder: 3px solid #bb635d;
  --mainBorderColor: #69332f;
} */
.blues {
  --redbg:#e35757;
  --redtxt: #882323;
  --greenbg: #4dda7e ;
  --greentxt: #236a3b;
  --lightText: #fff;
  --darkText: #336586;
  --lightBG: #f0f0f0;

  --mainBG: #123349;
  --mainButton: #dddddd;
  --mainTitle: #97b3ff;
  --mainShadow: 0 0 5px 2px #1e435e;
  --textShadow: 0px 0px 4px gray;

  --rangeLeft: #97b3ff;
  --rangeRight: #dbb971;
  --rangeGradient: linear-gradient(90deg, var(--rangeLeft) 46%, var(--rangeRight) 56%);
  --rangeBorder: #26475e;

  --mainBorder: 3px solid #5c93bb;
  --mainBorderColor: #305168;

  --glow: 10 0 15px 4px  var(--rangeLeft),
  inset 0 0 15px 1px rgba(235, 235, 235, 0.5);
}
.App {
  width: 100%;
  height: 100vh;
  color: var(--lightText);
  background-color: var(--mainBG);
  text-align: center;
  position: relative;
}
#gameRoom {
  max-width: 700px;
  min-width: 375px;
  margin: auto;
}
.mainTitle {
  color: var(--rangeLeft);
  font-family: Impact, sans-serif;
  font-size: 50px;
  margin: 0;
}
.startMenu {
  max-width: 250px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.startMenu button.startButtons {
  color: var(--lightText);
  width: 10rem;
  margin: .35em auto;
  background-color: var(--rangeLeft);
}
.startButtons:disabled {
  opacity: .5;
}
.gameButtons {
  color: var(--lightText);
  text-shadow: var(--textShadow);
  box-shadow: var(--mainShadow);
  font-family: Helvetica, sans-serif;
  height: 2em;
  margin: .5rem;
  width: 25%;
  border-radius: 25px; 
  background-color: var(--mainButton);
  border: none;
}
.mainButton {
  width: 85%;
  letter-spacing: .15em;
  font-weight: bold;
  color: var(--lightText);
  text-shadow: var(--textShadow);
}
.mainButton:disabled {
  opacity: .5;
}

#Menu {
  position: absolute;
  right: -5px;
  top:-70px;
  margin: .25em;
  border: none;
  font-size: 1.25em;
  background-color: var(--mainBG);
  color: var(--mainBorderColor)
}
.topbar {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}
.topbarButton {
  color: var(--lightText);
  border: none;
  background-color: transparent;   
}
.dropdown-toggle::after {
  display: none !important; 
}
.dropdown-menu {
  background-color: var(--lightBG);
}
.modal-content {
  color: white;
  background-color: #123349;
}
.modal-body {
  display: flex;
  flex-direction: column;
  
}
.modal-body button{
  border: none;

  width: 100%;
  margin: 5px auto;
  border-radius: 15px;

  /* background-color: #f0f0f0; */
  background: linear-gradient(90deg, #97b3ff 46%, #dbb971 56%);
  
  color: white;
  font-family: Trebuchet MS, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 0px 0px 4px gray;
}


ul {
  list-style-type: none;
}
li {
  font-family: sans-serif;
  color: #124341;
}
#pageFrame {
  height: 89vh;
  width: 100%;
  border: none;
}
.projReturn {
  /* border: 1px solid blue; */
  scale: 5;
  position: fixed;
  left: 1em;
  color: var(--mainBG)
}
.navBarBox {
  position: absolute;
  color: var(--mainBG);
}
.folded {
  font-size: 1.5em;
  display: block;
}
.navBarList{
  font-size: 1rem;
  display: none;
}
.folded:hover .navBarList{
  display: block;
}
.navBarBox ul{
  margin: 0 -.5em;
  list-style: none;
  padding: 0;
}
.navBarList li {
  color: var(--mainBG);
  margin: 0 .25em;
}
.navBarList li:hover {
  background-color: var(--mainBG); 
  color: var(--mainBorderColor)
}
.dropbtn {
  border: none;
}
a {
  color: var(--mainBorderColor);
  text-decoration: none;
}
.dropdownCon {
  position: relative;
  display: inline-block;
}
.dropContent {
  display: none;
  z-index: 1; 
}
.sidebar {
  display: flex;
}
.dropContent a {
  background-color: var(--mainBG);
  color: var(--mainBorderColor);
  padding: 2px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid gray;
}
.dropdownCon:hover .dropContent {display: block;}
.gameBox {
  display: flex;
  flex-direction: column;
  width: 30em;
  margin: auto;
  justify-items: center;
  overflow: hidden;
}
.promptArea {
  margin: .25em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  color: var(--mainBG);
  text-shadow: 0 0 2px black;
  text-align: center;
}
.prompt {
  display: none;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.modalBG {
  display: none;
  position: fixed;
  margin: auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
}
.modalArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% auto; 
  background-color:  #37c7c0;
  padding: 10px;
  width: 460px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 3px solid #2da59f;
  box-shadow: 0 0 10px 5px black;
}
.modalArea label {
  border: 0;
}
.totLine {
  width: 100%;
  display: flex; 
  font-family: Trebuchet MS, sans-serif;
  font-size: 1.65em;
  font-weight: bold;
  border: 3px solid #2da59f;
  margin: 1%;
  box-shadow: 0 0 10px black;
}
.totLine:hover {
  box-shadow: 0 0 10px green;
}
#modalHow {
  display: none;
  position: relative;
  width: 92%;
  text-align: left;
}
#modalHow * {
  margin: .25em;
}
#modalTots {
  display: none;
}
#modalClue {
  display: none;
  margin: 7em auto;
}
#addPlayer {
  display: none;
}
#removePlayer {
  display: none;
}
#modalWin {
  display: none;
}
#optionsBox {
  color: var(--mainBorderColor);
  display:none;
  position: relative;
}
.optButton {
  font-weight:bold;
  color: var(--mainBorderColor);
  min-width: 8.3em;
  border-radius: 15px;
  background-color: #37c7c0;
  border: 3px solid #278884;
  box-shadow: 1px 1px 3px 0 gray;
  margin: 3px;
  width: 12em;
}
.closeButt {
  position: absolute;
  right: 1em;
  transform: scale(1.5);
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.clueLine {
  display: flex; 
  font-family: Trebuchet MS, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 3px solid #2da59f;
  margin: 1%;
}

@media only screen and (max-width: 750px) {
  .gameBox {
    width: 100%;
  }
  .prompt {
    font-size: .7rem;
  }
  .tarwindow {
    height: 2em;
  }
  .totArea {
    font-size: 1.25em;
  }
  .clueArea {
    min-width: 11em;
  }
  .clue {
    width: 3.25em;
  }
  #clueSpan {
    font-size: .37em;
  }
  #newClue {
    width: 90%;
  }
  label.clueLine {
    font-size: 1.5em;
  }
  .lightBox {
    margin: auto 2px;
  }
  .greenlight, .redlight {
    width: 2em;
  }
  .teamName {
    font-size: .7em;
  }
  .players {
    display: none;
  }
  .score {
    width: 4em;
    margin: 10px 2px;
  }
  .options button {
    border: 2px solid #278884;
    min-width: 5em;
  }
  .modalArea {
    width: 17em;
  }
  .totLine {
    font-size: 1em;
  }
  #modalHow {
    width: 89%;
    font-size: .85em;
  }
}
