.playArea {
    width: 98%;
    margin: .5rem auto;
    margin-bottom: 1em;
    background-color: var(--mainBG);
    border-top: 0;
    display: flex;
    justify-content:space-around;
  }
  .score {
    color: var(--mainBG);
    width: 3.75rem;
    height: 3.5rem;
    margin: 10px 5px;
    background-color: var(--lightBG);
    border-radius: 15px;
    font-size: 2.75em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .joinButton {
    height: 2em;
    width: 7em;
    margin: .25em;
    font-size: .75em;
  }
  .joinButton:disabled {
    opacity: .5;
  }
  .join1 {
    background-color: var(--rangeLeft);
  }
  .join2 {
    background-color: var(--rangeRight);
  }
  .cancelPsych {
    border: none;
    background-color: #00000000;
    color: var(--mainBorderColor);
    font-weight: bold;
  }
  .joinSpacer {
    width: 80%;
    height: 2em;
    font-size: .75em;
    border: 1px solid blue;
  }
  .teamList {
    color: var(--mainBG);
    min-height: 8.3em;
    margin: 10px 5px;
    padding: .25em .5em;
    background-color: var(--lightBG);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #t1Score, #t2Score {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  #t2Score {
    flex-direction: row-reverse;
  }
  .options {
    margin: 0 .10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #1a706c;
    text-shadow: 0 0 2px black;
    padding: 2px;
  }
  .options button {
    font-weight:bold;
    color: var(--mainBorderColor);
    border-radius: 15px;
    background-color: #37c7c0;
    border: 3px solid #278884;
    box-shadow: 1px 1px 3px 0 gray;
  }
  .teamBox {
    width: 45%;
    height: 100%;
  }
  #t2b {
    flex-direction: column;
  }
  .players {
    display: none;
    width: 70%;
    height: 90%;
    margin: auto;
    background-color: var(--lightBG);
    border: var(--mainBorder);
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .92em;
    position: relative;
  }
  .team {
    position: absolute;
    top: -.75em;
    left: -2.3em;
  }
  .lightBox {
    /* height: 6em; */
    display: flex;
    justify-content: space-around;
  }
  #t1lights {
    flex-direction: row-reverse;
  }
  .greenlight, .redlight {
    padding: 0 5px;
    width: 45%;
    margin: .25em;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    box-shadow: inset 0 0 3px 3px black;
  }
  .redlight {
    color: var(--redtxt);
    background-color: var(--redbg);
  }
  .greenlight {
    color: var(--lightText);
    text-shadow: var(--textShadow);
    background-color: var(--greenbg);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.342) inset;
  }
  #t1g {
    background-color: var(--rangeLeft);
  }
  #t2g {
    background-color: var(--rangeRight);
  }
  .turn {
    opacity: 1;
    
  }
  